<!DOCTYPE html>
<html>
<head>
  <title>ToEat.ly</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>ToEat.ly <small>Put it in my belly!</small></h1>
    </header>
    <!-- new food form -->
    <form class="form-inline" id="new-food-form">
      <input name="name" type="text" class="form-control" id="food-name-input" placeholder="Name">
      <input name="yumminess" type="text" class="form-control" id="food-yumminess-input" placeholder="Yumminess">
      <button type="submit" class="btn btn-default">Eat me!</button>
    </form>
    <!-- list of foods -->
    <ul class="list-group" id="food-ul">
      <% for(var i=0; i<foods.length; i++) { %>
        <li class='list-group-item'>
          <%= foods[i].name %>
          <span class='label label-default'><%= foods[i].yumminess %></span>
          <button data-id="<%=foods[i].id%>" type='button' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        </li>
      <% } %>  
    </ul>
  </div>
</body>
</html>
